body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.App {
    display: grid;
    grid-template-columns: auto;
    grid-template-columns: 59px 16px auto 16px;
    grid-template-areas: "sidebar . main .";
    height: 100vh;
}

.sidebar {
    padding-top: 16px;
    grid-area: sidebar;
}
.main {
    grid-area: main;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    padding: 16px 0 0 0;
    display: block;
}

.timerwidget {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 164px auto;
    grid-template-rows: 32px 32px auto 32px auto 48px 16px;
    grid-template-areas: ". . ." ". title ." ". . ." ". clock ." ". . ." ". buttons ." ". . .";
    line-height: 32px;
    font-size: 32px;
    text-align: center;
}
.timer-clock {
    grid-area: clock;
}
.timer-buttons {
    grid-area: buttons;
}
.timer-title {
    grid-area: title;
    font-size: 32px;
}

.floatwidget {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 164px auto;
    grid-template-rows: 32px 32px auto 56px auto 48px 16px;
    grid-template-areas: ". . ." ". title ." ". . ." ". input ." ". . ." ". buttons ." ". . .";
    line-height: 32px;
    font-size: 32px;
    text-align: center;
}
.float-input {
    grid-area: input;
}
.float-buttons {
    grid-area: buttons;
}
.float-title {
    grid-area: title;
    font-size: 32px;
}

.stats-page {
    grid-area: main;
}

.stats-page .graph {
    grid-area: graph;
    margin: 16px 0;
    height: 48px;
    width: calc(100vw - 59px - 32px);
    height: calc(100vh - 48px - 48px);
}
.stats-page .interface {
    grid-area: interface;
    margin: 16px 0;
    height: 48px;
    width: 100%;
}
